// 2018 - Pablo Diehl


// Mixins
set-background(base-color)
    background: base-color
    &:hover
          background: darken(base-color, 2%)

          
// Main
*
    margin: 0
    padding: 0
    
.background-0
    set-background(#16a085)

.background-1
    set-background(#27ae60)
    
.background-2
    set-background(#f1c40f)

.background-3
    set-background(#e67e22)
    
.background-4
    set-background(#e74c3c)
    
body
    color: #fff
    font-family: 'SelawikRegular'
    
.card
    align-items: center
    display: flex
    height: 100vh
    justify-content: center
    width: 100vw
    
    h1
        font-size: 30vh
        
    &:hover
        cursor: pointer

.card-link
    align-items: center
    display: flex
    justify-content: center
    
    h1
        font-size: 6vh
        
    &:hover
        cursor: pointer
        
.credits
    background: #130f40     
    text-align: center
    
    h1
        color: #30336b
        font-size: 4.5vh
        padding-top: 1.25rem

        &:last-child
            padding-bottom: 1.25rem
    
        a
            color: #30336b
            position: relative
            text-decoration: none
            transition: .25s linear
        
            &:before
                background: #30336b
                border-radius: 5px
                bottom: 0
                content: ""
                height: 2px
                left: 0
                position: absolute
                visibility: hidden
                transform: scaleX(0)
                transition: .25s linear
                width: 100%
                
            &:focus,
            &:hover
                color: #30336b
    
            &:focus:before,
            &:hover:before
                transform: scaleX(1)
                visibility: visible

.main
    display: grid
    grid-auto-rows: minmax(100px, auto)
    grid-gap: 0
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(5, 20vh)
    margin: 0
